%h1 Page des activités

%table
  - @daily_activities.each_day do |day, morning, afternoon|
    %tr
      %td
        = day
      %td.activity{'data-empty': morning.empty?}
        = morning.description
      %td.activity{'data-empty': afternoon.empty?}
        = afternoon.description

